.App {
  width: 60%;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  padding: 10px;
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.high_priority {
  border: solid red 2px;
  color: red;
}

.low_priority {
  border: solid green 2px;
  color: green;
}

li span {
  padding: 10px;
  margin: 10px;
}

li button {
  background: rgb(60, 30, 142);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

input[type="text"],
input[type="radio"],
input[type="submit"] {
  padding: 10px;
  margin: 5px;
}

input[type="text"],
input[type="radio"] {
  vertical-align: middle;
}

button,
input[type="submit"] {
  background: #000;
  color: #fff;
  cursor: pointer;
  border: 1px solid #000;
}


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
